$base-font: 'Poppins', sans-serif;
$dark-background-color: #151515;
$light-background-color: #F8F8F8;
$dark-color: #151515;
$accent-color: #FF4655;
$light-color: #FFFFFF;
$light-text-color:  #FFFFFF;
$dark-text-color: #111111;
$grey-background: #F6F6F6;